In [1]:
print("Hola mundo")

Hola mundo

In [2]:
print("Hola grupo de POO")

Hola grupo de POO

In [3]:
# Vamos a definir los principales tipos (8) de dato
"""
int
float
str
bool
list
tuple
set
dict
"""

entero = 123

In [4]:
entero

123

In [5]:
print(entero)

123

In [6]:
type(entero)

int

In [7]:
# NO USAR NOMBRES RESERVADOS
# float

float = 3.14151926

In [8]:
print(float)

3.14151926

In [9]:
type(float)

float

In [10]:
# EN PYTHON NO EXISTE EL TIPO DE DATO 'CHAR'. SOLO EXISTE EL STR
# PEP

cadena_vacia = ""
print(type(cadena_vacia))

cadena_uncaracter1 = 'm'
print(type(cadena_uncaracter1))

cadena_uncaracter2 = "m"
print(type(cadena_uncaracter2))

<class 'str'>
<class 'str'>
<class 'str'>

In [11]:
# Booleanos (sí o no)

verdadero = True
falso = False
print(type(verdadero))
print(type(falso))

<class 'bool'>
<class 'bool'>

In [12]:
# list
lista = []
type(lista)

list

In [13]:
lista = [123, 1231, 12312, 1231, 12.3, True, []]
type(lista)

list

In [14]:
# tuple: lista inmutable
abc = ()
print(type(abc))

cba = (1, 2, True, [], ())
print(type(cba))

# tupla de un solo caracter
tdsc = ("1",)
print(type(tdsc))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [15]:
# set (No aceptan repetición)
conjunto = {1, 1, 1, 1, 1, 1, 2, 3, 4}
conjunto

{1, 2, 3, 4}

In [16]:
# diccionarios (dict)
# juego {llave : valor}
diccionario = {"gato" : "mamífero perteneciente a los felinos", "perro" : "Mamífero."}
type(diccionario)

dict