# f-string

In [1]:
nombre = "Miguel"
materia = "POO"
year = 2026

print("Hola", nombre, "bienvenido a la materia de", materia)

Hola Miguel bienvenido a la materia de POO

In [2]:
nombre = 3.14
materia = True
year = [1, 2, 3]
"Hola {} bienvenido a la materia de {} del año {}".format(nombre, materia, year)

'Hola 3.14 bienvenido a la materia de True del año [1, 2, 3]'

In [3]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
nombre = 3.14
materia = True
year = [1, 2, 3]
f"Hola {nombre} bienvenido a la materia de {materia} del año {year}"

'Hola 3.14 bienvenido a la materia de True del año [1, 2, 3]'

In [5]:
for i in range(1, 101):
    print(f"La variable iteradora tiene el valor: {i}")

La variable iteradora tiene el valor: 1
La variable iteradora tiene el valor: 2
La variable iteradora tiene el valor: 3
La variable iteradora tiene el valor: 4
La variable iteradora tiene el valor: 5
La variable iteradora tiene el valor: 6
La variable iteradora tiene el valor: 7
La variable iteradora tiene el valor: 8
La variable iteradora tiene el valor: 9
La variable iteradora tiene el valor: 10
La variable iteradora tiene el valor: 11
La variable iteradora tiene el valor: 12
La variable iteradora tiene el valor: 13
La variable iteradora tiene el valor: 14
La variable iteradora tiene el valor: 15
La variable iteradora tiene el valor: 16
La variable iteradora tiene el valor: 17
La variable iteradora tiene el valor: 18
La variable iteradora tiene el valor: 19
La variable iteradora tiene el valor: 20
La variable iteradora tiene el valor: 21
La variable iteradora tiene el valor: 22
La variable iteradora tiene el valor: 23
La variable iteradora tiene el valor: 24
La variable iteradora tiene el valor: 25
La variable iteradora tiene el valor: 26
La variable iteradora tiene el valor: 27
La variable iteradora tiene el valor: 28
La variable iteradora tiene el valor: 29
La variable iteradora tiene el valor: 30
La variable iteradora tiene el valor: 31
La variable iteradora tiene el valor: 32
La variable iteradora tiene el valor: 33
La variable iteradora tiene el valor: 34
La variable iteradora tiene el valor: 35
La variable iteradora tiene el valor: 36
La variable iteradora tiene el valor: 37
La variable iteradora tiene el valor: 38
La variable iteradora tiene el valor: 39
La variable iteradora tiene el valor: 40
La variable iteradora tiene el valor: 41
La variable iteradora tiene el valor: 42
La variable iteradora tiene el valor: 43
La variable iteradora tiene el valor: 44
La variable iteradora tiene el valor: 45
La variable iteradora tiene el valor: 46
La variable iteradora tiene el valor: 47
La variable iteradora tiene el valor: 48
La variable iteradora tiene el valor: 49
La variable iteradora tiene el valor: 50
La variable iteradora tiene el valor: 51
La variable iteradora tiene el valor: 52
La variable iteradora tiene el valor: 53
La variable iteradora tiene el valor: 54
La variable iteradora tiene el valor: 55
La variable iteradora tiene el valor: 56
La variable iteradora tiene el valor: 57
La variable iteradora tiene el valor: 58
La variable iteradora tiene el valor: 59
La variable iteradora tiene el valor: 60
La variable iteradora tiene el valor: 61
La variable iteradora tiene el valor: 62
La variable iteradora tiene el valor: 63
La variable iteradora tiene el valor: 64
La variable iteradora tiene el valor: 65
La variable iteradora tiene el valor: 66
La variable iteradora tiene el valor: 67
La variable iteradora tiene el valor: 68
La variable iteradora tiene el valor: 69
La variable iteradora tiene el valor: 70
La variable iteradora tiene el valor: 71
La variable iteradora tiene el valor: 72
La variable iteradora tiene el valor: 73
La variable iteradora tiene el valor: 74
La variable iteradora tiene el valor: 75
La variable iteradora tiene el valor: 76
La variable iteradora tiene el valor: 77
La variable iteradora tiene el valor: 78
La variable iteradora tiene el valor: 79
La variable iteradora tiene el valor: 80
La variable iteradora tiene el valor: 81
La variable iteradora tiene el valor: 82
La variable iteradora tiene el valor: 83
La variable iteradora tiene el valor: 84
La variable iteradora tiene el valor: 85
La variable iteradora tiene el valor: 86
La variable iteradora tiene el valor: 87
La variable iteradora tiene el valor: 88
La variable iteradora tiene el valor: 89
La variable iteradora tiene el valor: 90
La variable iteradora tiene el valor: 91
La variable iteradora tiene el valor: 92
La variable iteradora tiene el valor: 93
La variable iteradora tiene el valor: 94
La variable iteradora tiene el valor: 95
La variable iteradora tiene el valor: 96
La variable iteradora tiene el valor: 97
La variable iteradora tiene el valor: 98
La variable iteradora tiene el valor: 99
La variable iteradora tiene el valor: 100

---
# List comprehension

In [6]:
# Llenar la lista con elementos del 1 al 100
# Esto está bien
lista = []

for valor in range(1, 101, 1):
    lista.append(valor)

print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [7]:
# Llenar la lista con elementos del 1 al 100
# Esto está bien

lista = [i for i in range(1, 101, 1)]

print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [11]:
# Llenar la lista con elementos del 1 al 100 elevados al cuadrado

lista = [i ** 2 for i in range(1, 101, 1)]

print(lista)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [17]:
# Llene una lista con valores del 1 al 100, pero solo dejando los pares

lista = []

for i in range(1, 101, 1):
    if i % 2 == 0:
        lista.append(i)

lista

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
# Llene una lista con valores del 1 al 100, pero solo dejando los pares

# lista = [i for i in range(1, 101, 1) if i % 2 == 0 else "*"] # No se puede poner else

lista

SyntaxError: invalid syntax (267083337.py, line 3)

In [8]:
# Llenar la lista con elementos del 1 al 100
# Esto está bien

tupla = (i for i in range(1, 101, 1))

tupla

In [9]:
# Llenar la lista con elementos del 1 al 100
# Esto está bien

conjunto = {i for i in range(1, 101, 1)}

print(conjunto)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [ ]:
# Llenar la lista con elementos del 1 al 100
# Esto está bien

diccionario = {i : i for i in range(1, 101, 1)}

print(diccionario)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31, 32: 32, 33: 33, 34: 34, 35: 35, 36: 36, 37: 37, 38: 38, 39: 39, 40: 40, 41: 41, 42: 42, 43: 43, 44: 44, 45: 45, 46: 46, 47: 47, 48: 48, 49: 49, 50: 50, 51: 51, 52: 52, 53: 53, 54: 54, 55: 55, 56: 56, 57: 57, 58: 58, 59: 59, 60: 60, 61: 61, 62: 62, 63: 63, 64: 64, 65: 65, 66: 66, 67: 67, 68: 68, 69: 69, 70: 70, 71: 71, 72: 72, 73: 73, 74: 74, 75: 75, 76: 76, 77: 77, 78: 78, 79: 79, 80: 80, 81: 81, 82: 82, 83: 83, 84: 84, 85: 85, 86: 86, 87: 87, 88: 88, 89: 89, 90: 90, 91: 91, 92: 92, 93: 93, 94: 94, 95: 95, 96: 96, 97: 97, 98: 98, 99: 99, 100: 100}

In [ ]:
# con dict-comprehension llenar el diccionario donde cada llave es un número del 1 al 100
# y cada valor es la llave elevada al cuadrado

diccionario = {i : i ** 2 for i in range(1, 101, 1)}

print(diccionario)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

In [23]:
# con dict-comprehension llenar el diccionario donde cada llave es el nombre
# y cada valor es el tamaño (no. de caracteres) de la llave
nombres = ["Miguel", "Ximena", "Leonardo", "Max"]
for nombre in nombres:
    print(nombre)
    print(len(nombre))

Miguel
6
Ximena
6
Leonardo
8
Max
3

In [24]:
diccionario = {nombre : len(nombre) for nombre in nombres}
diccionario

{'Miguel': 6, 'Ximena': 6, 'Leonardo': 8, 'Max': 3}

In [25]:
type({})

dict

In [30]:
diccionario = {}
# diccionario['perrito'] = 10
# diccionario

for nombre in nombres:
    diccionario[nombre] = len(nombre)

diccionario

{'Miguel': 6, 'Ximena': 6, 'Leonardo': 8, 'Max': 3}

In [31]:
nombres

['Miguel', 'Ximena', 'Leonardo', 'Max']

In [35]:
for i in range(0, 4):
    print(f"Llave {nombres[i]} : valor {len(nombres[i])}")

Llave Miguel : valor 6
Llave Ximena : valor 6
Llave Leonardo : valor 8
Llave Max : valor 3

In [37]:
diccionario = {nombres[i] : len(nombres[i]) for i in range(4)}
diccionario

{'Miguel': 6, 'Ximena': 6, 'Leonardo': 8, 'Max': 3}